section.top {
  margin: 20px 0 15px;
  text-align: justify;
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
  > div {
    display: inline-block;
    vertical-align: middle;
  }
  .logo {
    vertical-align: bottom;
  }
  .search {
    legend {
      display: none;
    }
    fieldset {
      border: 0;
      font-size: 0;
    }
    input {
      height: 50px;
      width: 350px;
      padding: 0 10px 0 60px;
      border-radius: 5px 0 0 5px;
      border: solid $cinza-1;
      border-width: 1px 0 1px 1px;
      font-size: 15px;
      font-style: italic;
      background-color: #fff;
      transition: background-color .3s;
      &:focus {
        outline: none;
        background-color: rgba(0,0,0,0.05);
      }
      &::-webkit-input-placeholder {
        color: $cinza-2;
      }
      &::-moz-placeholder {
        color: $cinza-2;
      }
      &:-ms-input-placeholder {
        color: $cinza-2;
      }
      &:-moz-placeholder {
        color: $cinza-2;
      }
    }
    button {
      font-size: 14px;
      height: 50px;
      border-radius: 0 5px 5px 0;
      border: 0;
      color: #fff;
      padding: 0 25px;
      cursor: pointer;
      background-color: $verde-2;
      transition: background-color .3s;
      &:hover {
        background-color: $verde-1;
      }
    }
  }
  .user, .cart {
    padding: 5px 10px 5px 50px;
    position: relative;
    color: $cinza-3;
    font-size: 15px;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 40px;
      background-color: $amarelo;
    }
    a {
      display: block;
      font-weight: bold;
      text-decoration: none;
      color: $cinza-5;
    }
  }
  .user {
    border-right: 1px solid $amarelo;
    padding-right: 20px;
  }
}

nav.menu {
  background-color: $verde-1;
  z-index: 2;
  &.infinite:before {
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  }
  ul {
    margin: 0;
    padding: 0;
    font-size: 0;
    li {
      display: inline-block;
      line-height: 64px;
      border-right: 1px solid $verde-3;
      font-size: 1rem;
      a {
        text-decoration: none;
        color: #fff;
        display: inline-block;
        padding: 0 18px;
        background-color: $verde-1;
        transition: background-color .3s;
        &:hover {
          background-color: $verde-2;
        }
        &:before {
          content: '';
          display: inline-block;
          width: 40px;
          height: 40px;
          background-color: #fff;
          vertical-align: middle;
          margin: 0 18px 0 6px;
        }
      }
      &:first-child a {
        padding: 0 18px 0 0;
      }
      &:last-child {
        border-right: 0;
        a {
          // padding: 0 9px 0 18px;
        }
      }
    }
  }
}

.message {
  font-size: 13px;
  background-color: $cinza-1;
  line-height: 32px;
  padding-top: 5px;
  text-align: center;
}