html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.infinite {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: -1000px;
    bottom: 0;
    left: -1000px;
    background-color: inherit;
    z-index: -1;
  }
}

.breadcrumbs {
  color: $cinza-4;
  margin: 10px 0 40px;
  line-height: 32px;
  border-bottom: 1px solid $cinza-1;
  font-size: 12px;
  a {
    display: inline-block;
    padding: 0 10px;
    &:first-child {
      padding-left: 0;
    }
  }
  span {
    font-weight: bold;
    color: $verde-2;
    padding: 0 0 0 10px;
  }
}

.list {
  float: right;
  width: 740px;
}

.sidebar {
  float: left;
  width: 220px;
}