.list {
	.head {
		height: 55px;
		font-size: 14px;
		.found {
			line-height: 55px;
			margin: 0;
			float: left;
			.num {
				font-weight: bold;
				color: $verde-1;
			}
		}
		.compare {
			display: inline-block;
			float: right;
			line-height: 30px;
			color: #fff;
			text-decoration: none;
			padding: 0 40px;
			border-radius: 5px;
			border: 0;
			font-size: 12px;
			cursor: pointer;
			margin-top: 13px;
			box-shadow: 1px 2px 0px 0px $verde-2;
			background-color: $verde-1;
			transition: background-color .3s;
			&:hover {
				background-color: $verde-2;
			}
		}
	}
	.products {
		position: relative;
		h1 {
			margin: 0;
			line-height: 80px;
			font-size: 20px;
			font-weight: bold;
			color: $verde-1;
			text-align: center;
		}
		.super-wrapper {
			width: calc(100% - 60px);
			margin: 0 auto;
			.swiper-button-prev,
			.swiper-button-next {
				background: url('../images/seta.png') no-repeat center;
				height: 23px;
				width: 15px;
				right: 0;
				margin: 0;
				&:focus {
					outline: 0;
				}
			}
			.swiper-button-prev {
				transform: rotate(180deg);
				transform-origin: center center;
				left: 0;
				right: auto;
			}
		}
		.swiper-wrapper {
			margin: 0 0 10px;
		}
		.product {
			box-sizing: border-box;
			width: 215px;
			display: inline-block;
			border-radius: 5px;
			padding: 20px;
			box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.26);
			cursor: pointer;
			position: relative;
			border: 1px solid $cinza-1;
			transition: border-color .3s;
			&:hover {
				border-color: $verde-1;
			}
			&:focus {
				outline: 0;
			}
			a {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			}
			img {
				width: 175px;
				height: 175px;
				display: block;
				background-color: green;
			}
			.flag {
				display: block;
				background-color: $cinza-5;
				line-height: 22px;
				color: $amarelo;
				font-size: 11px;
				font-size: 10.83px;
				font-weight: bold;
				text-align: center;
				margin: 10px 0;
			}
			.desc {
				color: $cinza-6;
				line-height: 14px;
				line-height: 14.44px;
				font-size: 11px;
				font-size: 10.83px;
			}
			.prices {
				margin: 20px 0 0px;
				padding-top: 15px;
				border-top: 1px solid $cinza-1;
				span {
					display: block;
				}
				.de {
					font-size: 12px;
					font-size: 12.63px;
					text-decoration: line-through;
					color: $cinza-3;
				}
				.por {
					font-size: 21px;
					font-size: 20.75px;
					color: $verde-1;
					line-height: 36px;
				}
				.parcelas {
					font-size: 11px;
					font-size: 10.83px;
					color: $cinza-5;
				}
			}
		}
	}
	.more {
		text-align: center;
		display: block;
		margin: 20px 0 50px;
		text-decoration: none;
		color: $verde-2;
	}
}