.sidebar {
	box-sizing: border-box;
	border: 1px solid $cinza-1;
	font-size: 16px;
	h2, h3 {
		font-size: inherit;
		margin: 0;
		color: $verde-2;
		font-weight: bold;
		line-height: 50px;
		border-bottom: 1px solid $cinza-1;
		padding: 0 20px;
		&:last-of-type {
			border-width: 0;
		}
	}
	.category {
		margin: 0 20px;
		padding: 0 0 20px;
		border-bottom: 1px solid $cinza-1;
		&:last-of-type {
			border-bottom: 0;
		}
		h3 {
			font-weight: normal;
			padding: 10px 0 0;
			border: 0;
		}
		ul {
			margin: 0;
			padding: 0;
			li {
				display: block;
				line-height: 24px;
			}
		}
	}
	a {
		text-decoration: none;
		color: inherit;
	}
}